$colors: (
  cyan: hsl(179, 62%, 43%),
  bright-yellow: hsl(71, 73%, 54%),
  light-gray: hsl(204, 43%, 93%),
  grayish-blue: hsl(218, 22%, 67%),
  un-mentioned-color: #4abebd,
);

@function color($color) {
  @return map-get($colors, $color);
}

@mixin flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: color(light-gray);
}

h3 {
  font-size: 2rem;
}

main {
  height: 100vh;
  width: 100vw;
  .single-price {
    box-shadow: 0.5rem 0.5rem 4rem rgba(187, 187, 187, 0.815);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 47.5rem;
    width: 63.5rem;
    grid-template-columns: repeat(2, 31.75rem);
    grid-template-rows: 21.6rem 25.9rem;

    .grid-elements {
      width: 100%;
      height: 100%;
      padding: 4rem;
      color: white;
    }

    .join {
      background-color: white;
      grid-column: 1/3;
      grid-row: 1/2;
      h2 {
        color: color(cyan);
        font-size: 3rem;
        font-weight: 700;
      }
      h3 {
        color: color(bright-yellow);
        margin: 2rem 0 1.6rem;
      }
      p {
        color: color(grayish-blue);
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
    }

    .monthly {
      background-color: color(cyan);
      grid-column: auto;
      grid-row: auto;
      h3 {
        font-weight: 400;
      }
      h4 {
        margin: 0.8rem 0;
        width: 16rem;
        @include flex(space-between, center);
        font-size: 1.6rem;
        color: lighten(color(cyan), 30%);
        span {
          font-size: 3.5rem;
          color: white;
        }
      }
      p {
        font-size: 1.6rem;
        font-weight: 400;
        color: lighten(color(cyan), 50%);
      }
      button {
        box-shadow: 0.5rem 0.5rem 4rem rgba(112, 112, 112, 0.507);
        width: 100%;
        height: 22%;
        background-color: color(bright-yellow);
        border: none;
        border-radius: 0.5rem;
        margin-top: 3.5rem;
        a {
          text-decoration: none;
          color: white;
          font-size: 1.6rem;
        }
      }
    }
    .whyUs {
      background-color: color(un-mentioned-color);
      grid-column: auto;
      grid-row: auto;
      color: lighten(color(cyan), 50%);
      h3 {
        font-weight: 400;
      }
      ul {
        margin-top: 1.5rem;
        li {
          margin-bottom: 0.5rem;
          list-style: none;
          font-size: 1.2rem;
          color: lighten(color(cyan), 40%);
        }
      }
    }
  }
}
@media (max-width: 700px) {
  html {
    font-size: 59%;
  }
  main {
    .single-price {
      height: auto;
      width: auto;
      grid-template-columns: repeat(2, minmax(30rem, 31.75rem));
      // grid-template-rows: 21.6rem 25.9rem;
    }
  }
}

@media (max-width: 565px) {
  html {
    font-size: 48%;
  }
  main {
    .single-price {
      border-radius: 8px;
      height: auto;
      // width: 38rem;
      grid-template-columns: repeat(auto-fit, 40rem);
      grid-template-rows: 21.6rem*1.5 25.9rem 25.9rem*1.3;

      .join {
        grid-column: auto;
        grid-row: auto;
        h2 {
          color: color(cyan);
          font-size: 3rem;
          font-weight: 700;
        }
        h3 {
          color: color(bright-yellow);
          margin: 2rem 0;
        }
        p {
          color: color(grayish-blue);
          font-size: 1.6rem;
          line-height: 3rem;
        }
      }
      .whyUs {
        h3 {
          font-weight: 400;
          margin-bottom: 1.3rem;
        }
        ul {
          margin-top: 1.5rem;
          li {
            margin-bottom: .8rem;
            list-style: none;
            font-size: 1.8rem;
            color: lighten(color(cyan), 40%);
          }
        }
      }
    }
  }
}
