* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e5eff5;
}

h3 {
  font-size: 2rem;
}

main {
  height: 100vh;
  width: 100vw;
}

main .single-price {
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0.5rem 0.5rem 4rem rgba(187, 187, 187, 0.815);
          box-shadow: 0.5rem 0.5rem 4rem rgba(187, 187, 187, 0.815);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  height: 47.5rem;
  width: 63.5rem;
  -ms-grid-columns: (31.75rem)[2];
      grid-template-columns: repeat(2, 31.75rem);
  -ms-grid-rows: 21.6rem 25.9rem;
      grid-template-rows: 21.6rem 25.9rem;
}

main .single-price .grid-elements {
  width: 100%;
  height: 100%;
  padding: 4rem;
  color: white;
}

main .single-price .join {
  background-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

main .single-price .join h2 {
  color: #2ab2af;
  font-size: 3rem;
  font-weight: 700;
}

main .single-price .join h3 {
  color: #c0df34;
  margin: 2rem 0 1.6rem;
}

main .single-price .join p {
  color: #98a6bd;
  font-size: 1.6rem;
  line-height: 2.3rem;
}

main .single-price .monthly {
  background-color: #2ab2af;
  grid-column: auto;
  grid-row: auto;
}

main .single-price .monthly h3 {
  font-weight: 400;
}

main .single-price .monthly h4 {
  margin: 0.8rem 0;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #8fe5e3;
}

main .single-price .monthly h4 span {
  font-size: 3.5rem;
  color: white;
}

main .single-price .monthly p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #e2f8f8;
}

main .single-price .monthly button {
  -webkit-box-shadow: 0.5rem 0.5rem 4rem rgba(112, 112, 112, 0.507);
          box-shadow: 0.5rem 0.5rem 4rem rgba(112, 112, 112, 0.507);
  width: 100%;
  height: 22%;
  background-color: #c0df34;
  border: none;
  border-radius: 0.5rem;
  margin-top: 3.5rem;
  cursor: pointer;
}

main .single-price .monthly button a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

main .single-price .whyUs {
  background-color: #4abebd;
  grid-column: auto;
  grid-row: auto;
  color: #e2f8f8;
}

main .single-price .whyUs h3 {
  font-weight: 400;
}

main .single-price .whyUs ul {
  margin-top: 1.5rem;
}

main .single-price .whyUs ul li {
  margin-bottom: 0.5rem;
  list-style: none;
  font-size: 1.2rem;
  color: #b9efee;
}

@media (max-width: 700px) {
  html {
    font-size: 59%;
  }
  main .single-price {
    height: auto;
    width: auto;
    -ms-grid-columns: (minmax(30rem, 31.75rem))[2];
        grid-template-columns: repeat(2, minmax(30rem, 31.75rem));
  }
}

@media (max-width: 565px) {
  html {
    font-size: 48%;
  }
  main .single-price {
    height: auto;
    -ms-grid-columns: (40rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 40rem);
    -ms-grid-rows: 32.4rem 25.9rem 33.67rem;
        grid-template-rows: 32.4rem 25.9rem 33.67rem;
  }
  main .single-price .join {
    grid-column: auto;
    grid-row: auto;
  }
  main .single-price .join h2 {
    color: #2ab2af;
    font-size: 3rem;
    font-weight: 700;
  }
  main .single-price .join h3 {
    color: #c0df34;
    margin: 2rem 0;
  }
  main .single-price .join p {
    color: #98a6bd;
    font-size: 1.6rem;
    line-height: 3rem;
  }
  main .single-price .whyUs h3 {
    font-weight: 400;
    margin-bottom: 1.3rem;
  }
  main .single-price .whyUs ul {
    margin-top: 1.5rem;
  }
  main .single-price .whyUs ul li {
    margin-bottom: 0.8rem;
    list-style: none;
    font-size: 1.8rem;
    color: #b9efee;
  }
}
/*# sourceMappingURL=styles.css.map */